.home__header{
    font-size: calc(2rem + 6 * ((100vw - 320px) / 680)) !important;
    
}
.home__headerbottom{
    font-weight: 200 !important;
     font-style: italic;
}
.home__explorenow{
    width: 100%;
     text-align: center;
      margin-bottom: 2rem;
}
.home__divider{
    margin: 3vh 0;
}
.home__grid{
    justify-content: space-evenly;
    
}

    
.home__paper{
    padding: 14px 7px;
     height: 100%;
     
}
.home__paper:hover{
    transform: scale(1.05);
    transition: transform 0.6s;

}

.home__inside_paper{
    bottom: 0;
     margin-top: 1rem;
}

.home__line{
    margin-top: 20px;
    margin-bottom: 15px;
    border: none;
    border-top: 1px solid rgb(226, 226, 226);
}
.home__image{
    width: 70%;
    min-height: 250px;
    margin: auto;
    display: flex;
    margin-bottom: 15px;
}
