.elementPosition {
    height: 60px;
    padding: 5px 10px;
    align-items: center;
    display: flex;
    position: relative;
}
.arrowPosition{
    position: absolute;
    right: 10px;
}
.gridPosition {
    margin-top: 10;
}